<form action="/api/users" method="post">
    First name: <input type="text" name="first_name" id="first_name">
    Last name: <input type="text" name="last_name" id="last_name">
    Email: <input type="text" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    isAdmin: <input type="checkbox" name="isAdmin" id="isAdmin">
    <input type="submit" value="SignUp">
</form>