<form action="/api/sessions/signup" method="post">
    <p>First name: <input type="text" name="first_name" id="first_name"></p>
    <p>Last name: <input type="text" name="last_name" id="last_name"></p>
    <p>age: <input type="number" name="age" id="age"></p>
    <p>Email: <input type="text" name="email" id="email"></p>
    <p>Password: <input type="password" name="password" id="password"></p>
    <p>Role: <select id="role" name="role">
        <option value="admin">admin</option>
        <option value="premium">premium</option>
        <option value="user">user</option>
    </select></p>
    {{!-- <p>isAdmin: <input type="checkbox" name="isAdmin" id="isAdmin"></p> --}}
    <p><input type="submit" value="SignUp"></p>
</form>

<button onclick="location.href='/api/sessions/auth/github'">GITHUB</button>
<button onclick="location.href='/api/sessions/auth/google'">Google</button>